**/.gradle
**/build
**/target
**/bin
**/.idea
**/.settings
**/.classpath
**/.project
**/*.prefs
**/*.copy
**/settings_*
**/.jadex
**/keystore
**/jadex_certstore.zip

platform_auto.conf
alarmclock_settings.ser
**/workflows
**/testkeystore
*.iml
*.iws
*.ipr
jadex-deploy-vars.sh
startHelloWorld.sh
/jadex-deploy-vars.bat
**/.benchmark*
/.pydevproject
/benchmark/benchmark_execution.png
/benchmark/benchmark_memory.png
/benchmark/thirdparty/APDescription.txt
/benchmark/thirdparty/MTPs-Main-Container.txt
/benchmark/.pydevproject
/benchmark/execution/.benchmark_ide
/benchmark/.venv
/bdi/engine - Kopie
/application/bdi-service/.lwjgl/
